---
layout: default
pageClass: introduction
keywords:
- director of engineering
- developer
- open source
- botany
permalink: /
---

<section class="intro-welcome container-large grid">
	<div class="intro-welcome-content col-4">
		<h1>Hey there!</h1>
		<p>
			I am Moritz, an engineering leader with over 15 years of experience in software development. Currently Head of Engineering at
			<a class="with-icon" href="https://parloa.com" target="_blank" rel="noopener">
				<img src="/assets/img/parloa.webp" width="30" height="30" alt="Parloa Logo" aria-hidden="true">
				<strong>Parloa</strong>
			</a>, where I lead the Agent Integration department.
		</p>
		<p>
			I lead software engineering teams and specialise in <strong>web, product, and cloud development</strong>, primarily — but not limited to — in the <span class="with-icon">TypeScript <svg aria-hidden="true"><use xlink:href="#typescript"></use></svg></span> ecosystem.
		</p>
	</div>

	<div class="intro-welcome-photo col-2">
		<div class="intro-welcome-photo-mask">
			{%
				include blob-photo,
				photoUrl: "moritz-mountains.webp",
				photoTitle: "Selfie of Moritz standing in the Slovenian Alps",
				photoAlt: "Selfie of Moritz standing in the Slovenian Alps",
				offsetY: "-60"
			%}
		</div>
	</div>
</section>

<div class="intro-content container-large grid">
	<section class="col-3">
		<header>
			<h2>Projects</h2>
			<a href="{{ socialnetworks.github.url }}" target="_blank" rel="noopener noreferrer" class="chip">See all</a>
		</header>
		<p>
			I really enjoy working on and building open source side projects. I mainly work on web applications and developer tools.
		</p>
		<ul class="content-list-projects">
			{% for project in projects %}
			<li class="project-{{ project.name }}" data-project="{{ project.name }}">
				<a href="{{ project.url }}" target="_blank" rel="noopener noreferrer" class="box">
					<span class="project-title">
						{% if project.img %}
							<img src="{{ project.img }}" width="30" height="30" alt="Logo of {{ project.title }}">
						{% endif %}
						{% if project.icon %}
							<svg><use xlink:href="{{ project.icon }}"></use></svg>
						{% endif %}
						{{ project.title }}
					</span>
					<p>{{ project.description }}</p>
				</a>
			</li>
			{% endfor %}
		</ul>
	</section>

	<section class="col-3">
		<header>
			<h2>Writing</h2>
		</header>
		<p>
			I used to write a bit about JavaScript engineering, but haven't gotten to it in a while. In case you want to know what my thoughts were back then, check these articles out:
		</p>
		<ul class="content-list-articles">
			{% for post in collections.posts limit:5 %}
			{% assign data = post.data %}
			<li>
				<span>{{ post.date | date: "%Y" }}</span>
				{% if data.external %}
				<a href="{{ data.external.url }}" target="_blank" rel="noopener noreferrer">
				{% else %}
				<a href="{{ post.url }}">
				{% endif %}
					{{ data.title }}
					{% if data.external %}
					<svg><use xlink:href="#new-window"></use></svg>
					{% endif %}
				</a>
			</li>
			{% endfor %}
		</ul>
	</section>
</div>
