---
eleventyExcludeFromCollections: true
permalink: /feed.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/">
	<channel>
		<title>{{ site.title }}</title>
		<description>{% if site.description %}{{ site.description  }}{% endif %}</description>
		<link>{{ site.url }}</link>
		<atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml" />
		{% for post in collections.posts limit:10 %}
			{% assign data = post.data %}
			<item>
				<title>{{ data.title }}</title>
				{% if post.author.name %}
					<dc:creator>{{ post.author.name }}</dc:creator>
				{% endif %}
				{% if post.excerpt %}
					<description>{{ post.excerpt }}</description>
				{% else %}
					<description>{{ post.content }}</description>
				{% endif %}
				<pubDate>{{ post.date }}</pubDate>
				{% if data.external %}
				<link>{{ data.external.url }}</link>
				<guid isPermaLink="true">{{ data.external.url }}</guid>
				{% else %}
				<link>{{ site.url }}{{ post.url }}</link>
				<guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
				{% endif %}
			</item>
		{% endfor %}
	</channel>
</rss>
